* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Canva Sans", sans-serif;
}
html,
body {
  overflow-x: hidden;
  padding-top: 60px;
}
.navbar {
  color: white;
  background: linear-gradient(90deg, #ff512f, #f09819);
}
.navbar-brand {
  font-size: 35px;
  font-weight: bold;
  color: white;
}
.navbar-nav .nav-link {
  color: black;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: white;
}
.dynamic-years a {
  text-decoration: none;
  font-size: 58px;
  font-weight: 900;
  color: white;
  font-family: More Suger, cursive;
  margin-right: 10px;
}
.yrs {
  font-family: "Bimbo", cursive;
  font-size: 20px;
  color: black;
  font-weight: normal;
  vertical-align: super;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.carousel-title {
  font-size: 41;
  font-weight: bold;
  padding-top: 10px;
}
.carousel-subtitle {
  font-size: 16px;
  color: #a6a6a6;
  font-weight: bold;
  padding-top: 12px;
}
.carousel-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
}
.carousel-image {
  max-width: 85%;
  object-fit: cover;
  max-height: auto;
}
.carousel-indicators {
  justify-content: center;
  padding: 7px;
  margin-right: 15%;
  margin-bottom: -2rem;
}
/* Default style for inactive indicators */
.carousel-indicators .carousel-indictor {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ff9900 !important;
  transition: all 0.2s ease-in-out; /* Smooth transition */
}
/* Active indicator style */
.carousel-indicators .carousel-indictor.active {
  width: 32px;
  height: 8px;
  border-radius: 10px; /* Make it a bar when active */
  background-color: black !important;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 50px;
  height: 50px;
}
.carousel-control-prev {
  left: -50px;
}
.carousel-control-next {
  right: 20px;
}
.carousel-content {
  width: 50%;
}
.highlight {
  color: #ff9900;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  padding-top: 5px;
}
.custom-mission-text {
  color: #a6a6a6 !important;
  font-size: 27px !important;
  font-weight: 400 !important;
  font-weight: bold;
  /* padding-top: 2%; */
}
.mission-title {
  color: #ff9900;
  font-weight: bold;
  font-size: 13px;
  /* padding-top: 2%; */
  text-transform: uppercase;
}
.our-program-title {
  color: #ff9900;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
}
.mission-text {
  color: #ff9900;
  font-weight: bold;
}
.program-card {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: 2px dotted #ff9900;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  display: inline-block;
}
.program-image {
  width: 100%;
  object-fit: cover;
}

.program-content {
  padding: 15px;
}

.program-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.program-duration {
  color: #666;
  margin-bottom: 20px;
}
.apply-btn {
  background: linear-gradient(90deg, #f24421, #ff9900);
  color: white;
  width: 150px;
  border: none;
  padding: 5px 20px;
  border-radius: 30px;
  box-shadow: 0px 2px 1px white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.program-button {
  background: linear-gradient(90deg, #ff9900, #f24421);
  border-radius: 10px;
  color: black;
  font-weight: bold;
  padding: 10px 15px;
  border: none;
  font-size: 16px;
}

.program-button:hover {
  background: linear-gradient(90deg, #ff3131, #eba337);
  color: white;
}

.future-control-title {
  padding-top: 2%;
  font-size: 35px;
  font-weight: 600;
}
.numberOfEmployee {
  display: flex;
  gap: 15em !important;
  padding-top: 5%;
}
.student_numbers {
  font-weight: 700;
  font-size: 80px;
}
.student_numbers_text {
  font-size: 11px;
  text-align: left;
}
.stat-item {
  text-transform: uppercase;
  font-weight: 600;
  padding-top: 30px;
}
.institute_location {
  color: white;
  background-color: #ff9900;
  padding: 20px;
  font-size: 26px;
  font-weight: bold;
  width: 100%;
  border-radius: 10px;
}
.location-item {
  width: 200px;
  border-radius: 10px;
  border: 2px dotted black;
  padding-bottom: 5px;
}
.location-1 {
  width: 180px;
  padding: 20px;
  font-size: 13px;
  text-align: center;
}
.LocationNearTo {
  gap: 4em;
}

.linkedin-icon {
  width: 50px;
  height: 50px;
}
.text-muted {
  margin-bottom: 50px;
  font-size: 18px;
}

.story-img {
  width: 330px;
  height: 330px;
  border-radius: 10px;
  padding: 2px;
  background: linear-gradient(to right, #ff3131, #ff914d);
}
.stuimg_detels {
  margin-bottom: 70px;
}
.thumbnail-img {
  width: 80px;
  height: 80px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  /* border-radius: 12px; */
  padding: 2px;
  background: linear-gradient(to right, #ff3131, #ff914d);
  cursor: pointer;
}

.feature-story {
  width: 320px;
  background-color: #ff9800;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  margin-bottom: 30px;
}

.student-info {
  text-align: center;
}
.studentName {
  text-transform: uppercase;
  font-size: 26px;
  /* font-weight: 600; */
}

.location-box {
  background-color: #ff9900;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: black;
}

.location-box h4 {
  color: white;
  margin-bottom: 15px;
}

p {
  color: black;
  font-size: 14px;
}

.text-danger {
  color: #ff9900 !important;
}

.brand-title {
  color: #ff9900;
  font-size: 2.5rem;
  font-weight: bold;
}

.brand-subtitle {
  background-color: #ff9900;
  color: black;
  display: inline-block;
  padding: 4px 8px;
  font-weight: 600;
  border-radius: 4px;
}

.form-question {
  color: #4a4a4a;
}

.question-number {
  font-size: 1.5rem;
  font-weight: bold;
  color: #6c757d;
}

.question-text {
  font-size: 1.25rem;
  margin-top: -10px;
}

.form-control {
  border: 2px solid #ddd;
  font-size: 1rem;
}
#thumbnails {
  display: flex;
  /* padding: 30px; */
  flex-wrap: wrap;
  gap: 7px;
  justify-content: center;
}
.thumbnail-box {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.thumbnail {
  flex: 1 1 calc(100% / 7 - 10px);
  max-width: calc(100% / 7 - 10px);
  box-sizing: border-box;
}
.btn-primary {
  background-color: #007bff;
  border: none;
  font-size: 1.25rem;
}

/* Main section styling */
.success-story2 {
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  border: 2px dotted #ff9900;
}
.fetures_video_story {
  width: 280px;
  padding: 15px;
  background-color: #ff9900;
  color: #000;
  font-weight: bold;
  position: relative;
  text-align: center;
  display: inline-block;
}

.fetures_video_story::after {
  content: "";
  position: absolute;
  top: 0;
  right: -29px;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 30px solid #ff9900;
}
.profile-video-desc {
  display: flex;
  align-items: center;
}

.profile-icon {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}
.name-cp-name {
  margin-left: 10px;
}
.star-icon {
  width: 20px;
  height: 20px;
}

.enterprise-title {
  padding-top: 0% !important;
  margin-bottom: 60px;
  text-align: center;
}
.logo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.logo-container img {
  max-width: 180px;
  max-height: 50px;
}

@media (max-width: 768px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .slider-container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .our-program-title {
    color: #ff9900;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
  }
  .carousel-content {
    padding: 50px 32px 21px;
    width: 100%;
    text-align: center;
    background: linear-gradient(
      0deg,
      #071929 47.21%,
      rgba(7, 25, 41, 0.9) 56.75%,
      rgba(7, 25, 41, 0) 85.25%
    );
  }
  .carousel-section {
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    height: 386px;
    background-size: cover;
  }
  .carousel-control-next {
    right: -54px;
  }
  .carousel-image-container {
    display: none;
  }
  .carousel-item:nth-child(1) .carousel-section {
    background-image: url("images/slider/5.jpg");
  }

  .carousel-item:nth-child(2) .carousel-section {
    background-image: url("images/slider/2.jpg");
  }

  .carousel-item:nth-child(3) .carousel-section {
    background-image: url("images/slider/3.jpg");
  }

  .carousel-item:nth-child(4) .carousel-section {
    background-image: url("images/slider/4.jpg");
  }
  .carousel-title {
    color: white;
    font-size: 28px;
  }
  .carousel-subtitle {
    font-size: 16px;
    color: white;
  }
  .custom-mission-text {
    color: #a6a6a6 !important;
    font-size: 16px !important;
    text-align: center;
    font-weight: 400 !important;
  }
  /* .highlight {
    color: white;
    font-weight: 700;
    text-transform: uppercase;
  } */
  .logo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .carousel-indicators {
    margin-top: 20px;
  }
  .future-control-title {
    font-size: 15px;
  }
  .numberOfEmployee {
    flex-direction: column;
    gap: 3em !important;
    padding-top: 2%;
  }
  .student_numbers {
    font-weight: 700;
    font-size: 40px;
  }
  .student_numbers_text {
    font-size: 8px;
    text-align: center;
  }
  .stuimg_detels {
    margin-bottom: 25px;
  }
  /* .LocationNearTo {
    gap: 1em !important;
  } */
  .location-item {
    margin: auto;
    width: 200px;
    border-radius: 10px;
    border: 2px dotted black;
  }
  .story-img {
    margin: 2%;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    padding: 2px;
    background: linear-gradient(to right, #ff3131, #ff914d);
  }
  .feature-story {
    width: 170px;
    background-color: #ff9800;
    padding: 14px;
    text-align: center;
    font-size: 11px;
    margin-bottom: 5px;
    margin-top: 40px;
  }
  .studentName {
    text-transform: uppercase;
    font-size: 18px;
    /* font-weight: 600; */
  }
  .text-muted {
    margin-bottom: 12px;
    font-size: 16px;
  }
  .linkedin-icon {
    width: 25px;
    height: 25px;
  }
  .thumbnail-img {
    width: 80px;
    height: 80px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-radius: 10px;
    padding: 2px;
    border: 1px solid linear-gradient(to right, #ff3131, #ff914d);
    /* background: linear-gradient(to right, #ff3131, #ff914d); */
    cursor: pointer;
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .fetures_video_story {
    width: 80%;
    text-align: center;
    margin-bottom: 10px;
  }

  .profile-video-desc {
    justify-content: center;
    text-align: center;
  }

  .name-cp-name {
    margin-left: 0;
  }

  .profile-icon {
    margin-bottom: 10px;
  }
}
@media (max-width: 768px) {
  .enterprise-title {
    font-size: 2rem;
  }
  .logo-container img {
    max-width: 120px;
    max-height: 70px;
  }
}
@media (max-width: 576px) {
  .logo-container img {
    max-width: 100px;
    max-height: 60px;
  }
}

/* detailsPage CSS */

/* Responsive adjustments for image */
.img-fluiddetails {
  max-width: 100%;
  height: auto;
}

/* Cards and content */
.card1 {
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.card-body {
  padding: 3rem;
}

.card-body h2 {
  font-weight: bold;
}

.highlightbutton {
  background: linear-gradient(
    90deg,
    #ff512f,
    #f09819
  ); /* Adding a subtle gradient underline */
  color: #fff;
  padding: 10px;
  font-weight: bold;
  border-radius: 10px;
  margin-right: 10px;
}

.cta-buttons {
  margin-top: 20px;
}

/* Curriculum section */
.curriculum-header {
  color: #888;
  font-weight: 600;
}
.course {
  font-size: 14px;
  text-align: start;
}
.course-box {
  height: 220px;
  /* width: 150px; */
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 24px;
  text-align: center;
  font-weight: bold;
  box-shadow: 2px 3px 8px rgba(11, 10, 10, 0.2);
}
.course-icons {
  height: 50px;
  width: 50px;
  border-radius: 25px;
}
/* Topics list */
.topics-list {
  margin-left: 20px;
  list-style-type: disc;
}

/* Media queries */


@media (max-width: 576px) {
  .highlightbutton {
    font-size: 10px;
  }

  .navbar-nav {
    text-align: center;
  }
}
.resource-icon {
  background-color: #1e88e5;
  padding: 20px;
  border-radius: 50%;
  color: white;
  display: inline-block;
}

.resource-item {
  background-color: white;
  border: 2px solid #1e88e5;
  padding: 10px 20px;
  border-radius: 20px;
  display: inline-block;
  margin-bottom: 10px;
}

.line-arrow {
  position: absolute;
  width: 150px;
  height: 2px;
  background-color: #ccc;
}

.line-arrow.right {
  transform: rotate(0deg);
}

.line-arrow.down-right {
  transform: rotate(45deg);
}

.line-arrow.down {
  transform: rotate(90deg);
}

.line-arrow.down-left {
  transform: rotate(135deg);
}

.line-arrow.left {
  transform: rotate(180deg);
}

.line-arrow.up-left {
  transform: rotate(225deg);
}

.line-arrow.up {
  transform: rotate(270deg);
}

.line-arrow.up-right {
  transform: rotate(315deg);
}
.student_success_main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.Student_Success_video {
  padding-top: 40px;
  width: 1220px;
  background-color: rgba(0, 0, 0, .04);
  padding: 30px;
  border-radius: 10px;
  height: auto;
}

.left-content h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.left-content p {
  font-size: 1rem;
  color: #6c757d;
}

.left-content h5 {
  font-size: 1.25rem;
  font-weight: bold;
}

.carousel-control-prev-video {
  left: -150px;
}

.carousel-control-next-video {
  right: -150px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #000;
  border-radius: 50%;
}

.carousel-indicators li {
  background-color: #000;
}

iframe {
  border-radius: 10px;
}


.videoThumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  cursor: pointer;
}

.youtube-icon {
  width: 60px;
  height: 60px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  cursor: pointer;
}

.videoThumbnail.hide {
  display: none;
}

.watch-on-youtube {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #ff9900;
  padding: 12px 16px;
  color: white;
  font-size: 20px;
  border-radius: 4px;
  text-decoration: none;
  z-index: 3;
}

.watch-on-youtube:hover {
  background-color: #e68a00;
  color: black;
}

/* Responsive adjustments */
@media (max-width: 767.98px) {
  .Student_Success_video {
    padding: 20px;
  }
  .left-content h3 {
    font-size: 1.25rem;
  }
  .carousel-control-prev-video {
    left: -30px;
  }
  .carousel-control-next-video {
    right: -30px;
  }
  .carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #000;
    border-radius: 50%;
    display: none;
}
  .video-container iframe {
    height: 200px;
  }
}
.success-story2-gallery {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  border: 2px dotted #000;
}

/* .row {
  display: flex !important;
} */

.right_arrow {
  width: 60px;
  height: 60px;
}

.stu_succ_video {
  margin: 5px;
  box-shadow: 5px 6px 15px 2px #e2d9d9;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 1.5rem !important;
  width: 350px;
}

.student_success_video {
  padding: 10px;
  border-radius: 10px;
  height: 200px;
  /* width: 300px; */
}

.future-control-title2 {
  display: flex;
  justify-content: center;
}

@media (max-width: 767.98px) {
  .future-control-title2 {
    flex-direction: row;
  }
  .profile-video-desc {
    justify-content: center;
    text-align: left;
}
  .future-control-title2 h1 {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .video-container {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.stu_succ_video {
  margin: 5px;
  box-shadow: 5px 6px 15px 2px #e2d9d9;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: -0.5rem !important;
  width: 300px;
}
.videoThumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    cursor: pointer;
}
  .right_arrow {
    margin-bottom: 5px;
    height: 40px;
    width: 40px;
  }
}


/* Row of videos */
.video-row {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.video-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  flex: 0 0 33.33%; /* 3 videos per row on larger screens */
  padding: 15px;
  box-sizing: border-box;
}

.video-container iframe {
  width: 100%;
  height: 315px;
}

/* Previous/Next arrows */
.future-control-title2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.right_arrow {
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin-left: 15px;
}

/* Responsive styling for mobile */
@media screen and (max-width: 768px) {
  .video-container {
    flex: 0 0 100%; /* 1 video per row on mobile */
  }
  .video-container iframe {
    height: 200px;
  }
}
.success-story2-gallery {
  width: 100%;
  padding: 20px;
  margin: auto;
}

.video-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Add some space between videos */
margin: auto;}

.video-container-gallery {
  flex: 1 1 calc(33.333% - 20px); /* 3 videos per row, with spacing */
  max-width: calc(33.333% - 20px);
  box-sizing: border-box;
}

.video-container-gallery iframe {
  width: 100%;
  height: 200px;
  border: none;
}

.video-container-gallery b {
  display: block;
  text-align: center;
  margin-top: 8px;
  font-weight: bold;
}

/* Responsive rules for smaller screens (mobile) */
@media (max-width: 768px) {
  .video-container-gallery {
    flex: 1 1 100%; /* One video per row */
    max-width: 100%;
  }

  .video-container-gallery iframe {
    height: 250px; /* Increase the height for mobile if needed */
  }
  
}
@media (min-width: 1200px) and (max-width: 1350px) {
  .story-img {
    width: 290px;
    height: 290px;
}
.stuimg_detels {
  margin-bottom: 10px;
}
.success-story2 {
  padding: 0px;
  border-radius: 10px;
  margin-bottom: 30px;
  border: 2px dotted #ff9900;
}
.stu_succ_video {
  box-shadow: 5px 6px 15px 2px #e2d9d9;
  border-radius: 10px;
  margin-bottom: 1.5rem !important;
  width: 300px;
}
}
@media (min-width: 1080px) and (max-width: 1200px) {
  .story-img {
    width: 260px;
    height: 260px;
}
.stuimg_detels {
  margin-bottom: 5px;
}
.success-story2 {
  padding: 0px;
  border-radius: 10px;
  margin-bottom: 30px;
  border: 2px dotted #ff9900;
}
.stu_succ_video {
  width: 268px;
}
}
@media (min-width: 992px) and (max-width: 1080px) {
  .story-img {
    width: 240px;
    height: 240px;
}
.stuimg_detels {
  margin-bottom: 5px;
}
.feature-story {
  padding: 10px;
}
.success-story2 {
  padding: 0px;
  border-radius: 10px;
  margin-bottom: 30px;
  border: 2px dotted #ff9900;
}
.stu_succ_video {
  width: 268px;
}
}
@media (min-width: 992px) and (max-width: 1080px) {
  .story-img {
    width: 240px;
    height: 240px;
}
.stuimg_detels {
  margin-bottom: 5px;
}
.feature-story {
  padding: 10px;
}
.success-story2 {
  padding: 0px;
  border-radius: 10px;
  margin-bottom: 30px;
  border: 2px dotted #ff9900;
}
.stu_succ_video {
  width: 268px;
}
}
@media (min-width: 900px) and (max-width: 992px) {
  .story-img {
    width: 220px;
    height: 220px;
}
.stuimg_detels {
  margin-bottom: -5px;
}
.text-muted {
  margin-bottom: 20px;
  font-size: 18px;
}
.feature-story {
  padding: 10px;
}
}
@media (min-width: 830px) and (max-width: 900px) {
  .story-img {
    width: 200px;
    height: 200px;
}
.stuimg_detels {
  margin-bottom: -15px;
}
.text-muted {
  margin-bottom: 20px;
  font-size: 18px;
}
.feature-story {
  padding: 10px;
}
}
@media (min-width: 769px) and (max-width: 830px) {
  .story-img {
    width: 190px;
    height: 190px;
}
.stuimg_detels {
  margin-bottom: -15px;
}
.text-muted {
  margin-bottom: 20px;
  font-size: 18px;
}
.feature-story {
  padding: 10px;
}
}